<div id="page" class="post-page">
  <div class="container" id="container">
    <div class="single-column">
      <div class="text-container">
        <h1>Just this page</h1>
        <p>This isn't a blog, or a social network. It's handy if you just want to write a page and have it live on the web without any messing around, ads, or being tracked.</p>
        <a href="<%= Routes.post_path(@conn, :edit, UUID.uuid4()) %>">create a page</a>
      </div>
    </div>
  </div>
</div>
