$editColour: #6cd2a4;
$editColourDark: #5cba8f;
$behind-page: #111611;
$frontOfPageColor: #ffffff;

html {
  background-color: $behind-page;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: $behind-page;
}

.container {
  max-width: 1680px;
  margin: $baserem * 2 auto;
  padding: 0 72px;
  display: flex;
  flex-direction: row;

  @media (max-width: 1680px) {
    max-width: 1214px;
    padding: 0 52px;
  }

  @media (max-width: 800px) {
    padding: 0 33px;
  }

  @media (max-width: 400px) {
    padding: 0 18px;
  }
}

.text-container {
  max-width: 800px;
}

.single-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

#page {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: white;

  $linkSize: $baserem * 3;

  #flip-page-link {
    border: 1px solid red;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0);
    border-width: $linkSize / 2;
    border-style: solid;
    border-bottom-color: $editColour;
    border-left-color: $editColour;
    border-right-color: $behind-page;
    border-top-color: $behind-page;

    i {
      position: absolute;
      color: #22ba99;
      top: 0px;
      right: 0px;
      margin: 0;
      height: $linkSize / 2;
      width: $linkSize / 2;
      text-align: right;
      line-height: $linkSize / 2;
      font-size: 36px;
    }

    @media (max-width: 800px) {
      border-width: $linkSize / 3;

      i {
        height: $linkSize / 3;
        width: $linkSize / 3;
        line-height: $linkSize / 3;
        font-size: 28px;
      }
    }

    @media (max-width: 400px) {
      border-width: $linkSize / 4;

      i {
        height: $linkSize / 4;
        width: $linkSize / 4;
        line-height: $linkSize / 4;
        font-size: 20px;
      }
    }

    &:hover {
      border-bottom-color: $editColourDark;
      border-left-color: $editColourDark;

      > i {
        color: #15987b;
      }
    }
  }
}

#page {
  .back-of-page {
    background-color: $editColourDark;
    padding-top: $baserem * 2;
    padding-bottom: $baserem * 2;
    color: white;

    .container {
      margin-top: 0;
      margin-bottom: 0;
    }

    #flip-page-link {
      border-bottom-color: $frontOfPageColor;
      border-left-color: $frontOfPageColor;
    }
  }
}

.outside-of-page {
  background-color: $behind-page;
  color: white;
  // height: $baserem * 1;
  font-size: 90%;

  .container {
    margin-top: 0;
    margin-bottom: 0;
  }
}

