#session-header {
  background-color: $behind-page;
  color: white;
  min-height: $baserem * 1;
  font-size: 90%;

  a {
    color: white;
    font-weight: 600;
  }

  .session-header-fixed {
    position: fixed;
    width: 100vw;
  }

  .container {
    margin-top: 0;
    margin-bottom: 0;
  }

  .workflow-instructions {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
